@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
}

/*start progress*/
#progress {

  display: grid;

  position: fixed;
  right: 0;
  bottom: 20px;
  /*	display: flex;
	justify-content: center;
	align-items: center	;*/

  z-index: 10;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0, 2);
  /*background-color: steelblue;*/
  border-radius: 50%;
  place-items: center;
}

#progressvalues {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-color: #fff;
  font-weight: bold;
  border-radius: 50%;
}

/*end progress*/
/*start header section*/

/*start header intro section*/
.headerintros {
  display: none;
  height: 50px;
  background-color: blue;
  color: #fff;
}

.headerintros .infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: bold;

}

@media(min-width:1200px) {
  .visiblelgs {
    display: block;
  }
}

/*end header intro section*/

/*end header section*/

/*start banner section*/
.carousel-item {
  height: 60vh;
}

.banners1,
.banners2,
.banners3 {
  background-size: cover;
  background-repeat: no-repeat;
}

.banners1 {
  background-image: url("../assests/img/banner/banner4.jpg");
}

.banners2 {
  background-image: url("../assests/img/banner/banner5.jpg");
}

.banners3 {
  background-image: url("../assests/img/banner/banner6.jpg");
}

.btn-blues {
  background-color: darkblue;
  color: #fff;
}

/*end banner section*/

/*start features section*/
.iconboxes {
  position: relative;
  padding: 50px 20px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.icons {
  display: flex;

  position: absolute;
  top: -35px;
  left: calc(50% - 35px);
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: darkcyan;
  color: #fff;
  border-radius: 50%;
}

.iconboxes:hover .icons {
  border: 2px solid darkcyan;
  background: none;
  color: darkcyan;
}

/*end features section*/
/*start info section*/
.fromlefts {
  animation-name: myleft;
  animation-duration: 3s;
}

.fromrights {
  animation-name: myright;
  animation-duration: 3s;
}

@keyframes myleft {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes myright {
  from {
    transform: translateX(30px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

/*end info section*/

/*start adv section*/
.advs {
  display: flex;
  align-items: center;
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assests/img/banner/banner1.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  color: #fff;
  background-attachment: fixed;
  text-shadow: -5px 0 10px #000;
}

/*end adv section*/
/*start department section*/
.departmentboxs {
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.departmentboxs img {
  width: 100%;
  transition: transform 0.5s;
  object-fit: cover;
}

.departmentboxs .contents {

  position: absolute;
  bottom: -85%;
  left: 10%;
  width: 80%;
  height: 100%;
  background-color: #fff;
  text-align: center;

  transition: all .5s;
}

.departmentboxs a {
  display: inline-block;
  margin-top: 8px;
  padding: 10px 15px;
  background-color: steelblue;
  color: #fff;
  font-size: 14px;
  text-decoration: none;

  transform: all 0.5s;
  border-radius: 20px;
  opacity: 0;
}

.departmentboxs:hover .contents {
  bottom: 0;

  left: 0;
  width: 100%;
  height: 60%;
}

.departmentboxs:hover a {
  transition-delay: 0.3s;
  opacity: 1;
}

.departmentboxs:hover img {
  transform: scale(1.5);
}

.departmentboxs h3 {
  padding-top: 6px;
  color: steelblue;
  font-size: 16px;
  font-weight: bolde;
  letter-spacing: 2px;
}

.departmentboxs p {
  width: 80%;
  margin: auto;
}

/*end department section*/

/*start pricing section*/
.pricingcards {
  padding-bottom: 40px;
  background-color: #fff;
  text-align: center;
  transition: all 0.4s;
}

.pricingcards .pricingheaders {
  padding: 40px 20px;
  border-bottom: 2px solid #f3f3f3;
}

.pricingcards .prices {
  margin-bottom: 20px;
  color: blue;
  font-size: 30px;
  font-weight: bold;
}

.pricingfeatures ul li {
  list-style: none;
  margin: 10px 0;
}

.btn-pricings {
  padding: 10px 30px;
  background: linear-gradient(-90deg, skyblue, blue);
  color: #fff;
  font-weight: bold;
  border-radius: 35px;
}

.pricingcards:hover .pricingheaders {
  background: linear-gradient(90deg, skyblue, blue);
  color: #fff;
  transform: translateY(-20px);
}

.pricingcards:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.btn-pricings:hover {
  background: linear-gradient(90deg, skyblue, blue);
  color: #fff;
}

.movelefts {
  animation-name: movefromlefts;
  animation-duration: 2s;
}

.moverights {
  animation-name: movefromrights;
  animation-duration: 2s;
}

.movebottoms {
  animation-name: movefrombottoms;
  animation-duration: 2s;
}

@keyframes movefromlefts {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes movefromrights {
  from {
    transform: translateX(100px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes movefrombottoms {
  from {
    transform: translateY(100px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

/*end pricing section*/

/*start joinus section*/
.customforms {
  padding: 30px;
  border: 1px solid #dddd;
  background-color: #ffff;
}

/*end joinus section*/

/*start footer section*/
.socialicons a {
  margin: 0 5px;
  padding: 5px;
  border: 1px solid #f4f4f4;
  color: #fff;
}

.socialicons a:hover {
  background-color: blue;
}

.footerlinks {
  color: #eee;
  font-size: 13px;
  text-decoration: none;
  transition: all 0.3xs;
}

.footerlinks:hover {
  color: orange;
  letter-spacing: 1px;
  border-bottom: 1px solid orange;
}

/*end footer section*/