*{
	cursor: pointer;
}
.borderstyle1{
	border-style: solid;
}
.borderstyle2{
	border-style: dotted;
}
.borderstyle3{
	border-style: dashed;
}
.borderstyle4{
	border-style: double;
}
.borderstyle5{
	border-style: inset;
}
.borderstyle6{
	border-style: outset;
}
.borderdesign{
	width: 200px;
	height: 200px;
	background-color: orange;
	/*border-radius: 50%;*/
	/*border-radius: 20px;*/
	/*border-radius: 10px 30px;*/
	/*border-radius:10px 20px 30px 40px;*/
	border-top-left-radius: 10px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 10px;
	/*cursor: pointer;*/
}
li{
/*	list-style-type: square;
	list-style-type: circle;
	list-style-type: none;
	list-style: none;*/

	list-style-type: decimal;
	list-style-type: decimal-leading-zero;
	border: 1px solid violet;

	list-style-position: outside;
	/*list-style-position: inside;*/
}

input[type="text"],input[type="number"]{
	background-color: pink;
	color: white;
	border-radius: 20px 30px;
}
body:hover{
	background-image: url("../img/icon/icon1.png");
	background-repeat: no-repeat;
	background-position: left;
	transition:all 3s;
}