/*Tag to tag*/

/*div span{
	color: red;
}*/

/*Tags to tag
div span p{
	color: red;
}*/

/*Tag to class
div .address{
	color: red;
}*/

/*Mutli tags to class*/
/*div span .name{
	color: red;
}*/

/*Multi Tags to Same class*/
/*div span small.name{
	color: red;
}*/

/*Multi class to class*/
/*.bank .money .currency{
	color: red;
}*/

/*Tag to Multi class*/
/*div .name .age{
	color: red;
}*/

/*Class to tag*/
/*.container b{
	color: red;
}*/

/*Class to multitag*/
/*.container b span{
	color: red;
}*/

/*Same class*/
/*.mobile.jpn{
	color: red;
}
.mobile.us{
	color: violet;
}
.mobile.cn{
	color: blue;
}*/

/*Class to Same Class*/
/*.vehical .car.jpn{
	color: red;
}
.vehical .car.cn{
	color: blue;
}
.vehical .car.indo{
	color: green;
}*/

/*.div1 p,.div1 b{
	color: red;
}*/

/*child Selector (>)*/
/*.div2 > p{
	color: red;
}
*/
/*General sibiling selector(~)*/
.div4 ~ i{
	color: red;
}

/*Adjecent Sibiling Selector(+)*/
/* .div9 + b{
	color: red;
} */