.container .circle1{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: conic-gradient(silver,pink,green,violet);

}
.container .circle2{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: conic-gradient(#c79999,#807373,#781919);
}
.container .circle3{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: conic-gradient(rgba(127,127,127,1.00),rgba(217,89,127,1.00),rgba(104,34,127,1.00));
}
.container .circle4{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: conic-gradient(red 40%,green 0% 80%,pink 0%);
}
.containertwo{
	width: 600px;
	height: 300px;
	background-color: transparent;

	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
	margin: auto;
}
p{
	color: #fff;
	z-index: 6;
}
.containertwo .c1{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-color: black;
	position: absolute;
	z-index: 2;
}
.containertwo .c2{
	width: 320px;
	height: 320px;
	background: conic-gradient(
		red 0,
		violet 25%,
		red 0,
		blue 70%,
		red 0,
		yellow 100%
	);
	border-radius: 50%;
	position: absolute;

}
.pointer-container{
	width: 20px;
	height: 200px;
	background-color: transparent;
	position: absolute;
	top: -40px;
	z-index: 4;
	transform-origin: bottom center;

	animation-name: myani;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.pointer{
	width: 20px;
	height: 20px;
	background-color: red;
	display: block;
	border-radius: 50%;
}
@keyframes myani{
	from{
		transform: rotate(0deg);
	}/*change degree to start point and end point*/
	to{
		transform: rotate(360deg);
	}
}