.firstdiv{
	width: 200px;
	height: 100px;
	/*background-color: rgba(17,231,127,1.00);*/
	background: rgba(17,231,127,1.00);
	color: blue;
}
.seconddiv{
	width: 300px;
	height: 300px;
	/*background-color: orange;*/
	/*background-image: url("../img/cover/bg1.jpg");*/
	background: url("../img/cover/bg1.jpg");
	/*background-repeat: no-repeat;*/
	background-repeat: repeat-y;
	background-color: orange;
	background-position: center;
	color: white;
	border: 2px;
	border-style: solid;
	border-color: red;
	/*border: 3px solid red;*/
}
.div3{
	width: 300px;
	height: 300px;
	border: 3px solid red;
/*	border-style: solid;
	border-color: red;*/
	color:white;
	background:radial-gradient(rgba(136,159,127,1),rgba(114,40,127,1)), url("../img/cover/bg2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}
.div4{
	width: 300px;
	height: 300px;
	border:3px solid red;
	color: black;
	background:linear-gradient(blue 50%,pink 0% 80%,silver 20%);
}
.div5{
	width: 200px;
	height: 300px;
	color: black;
	background-image:linear-gradient(45deg,rgba(136,159,127,1),rgba(114,40,127,0)), url("../img/cover/bg2.jpg");
	background-repeat: no-repeat;
}