nav{
	width: 1200px;
}
nav ul li{
	list-style: none;
	background-color: lightpink;
	width: 250px;
	text-align: center;
	line-height: 50px;
	display: inline;
	float: left;
	border-right: 2px solid black;
	transition: all 2s;
}
nav ul li:last-of-type{
	border-right: none;
}
nav ul li:hover{
	background-color: silver;
	line-height: 80px;
}
/*nav ul li:first-of-type{
	border-left: 2px solid black;
}*/
nav ul li a{
	color: white;
	text-decoration: none;
}