*{
	box-sizing: border-box;
}
body{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items:center ;
}
.calbody{
	width: 400px;
	height: 400px;
	background:#B4F2E1;
}
.forinput{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	/*background: red;*/
}
.getnum{
	width: 150px;
	height: 30px;
}
.multinumber,.number,.number1{
	width: 100%;
	height: 40px;
	/*background: red;*/
}
.number2{
	width: 100%;
	height: 100px;
	/*background: red;*/
	display: flex;
}
.number2div{
	width: 222px;
	height: 100px;
	/*background: green;*/
	margin-left: 45px;
}
.number2secdiv{
	width: 60px;
	height: 100px;
	/*background: hotpink;*/
}
.number2secdiv .equal{
	width: 60px;
	height: 89px;
	color: #FFE9C6;
	background: #FA9191;
	border: none;
	margin-right: 10px;
	box-shadow: 2px 1px 1px #3A3B3C;

}
.multinumberdiv,.numberdiv,.number1div{
	width: 300px;
	/*background: pink;*/
	margin-left: 45px;
}
.multinumberdiv .clear,.per,.plus,.minus,.numberdiv .seven,.eight,.nine,.division,.number1div .four,.five,.six,.multi,.number2div .one,.two,.three,.dot{
	width: 60px;
	height: 35px;
	color: #FFE9C6;
	background: #FA9191;
	border: none;
	margin-right: 10px;
	box-shadow: 2px 1px 1px #3A3B3C;
}
.number2div .zero{
	width: 134px;
	height: 35px;
	color: #FFE9C6;
	background: #FA9191;
	border: none;
	margin-right: 10px;
	box-shadow: 2px 1px 1px #3A3B3C;
}
button:active{
	transform: translateY(3px);
}
